/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth font */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
    color: #333;
}

/* Scroll behavior */
html {
    scroll-behavior: smooth;
}

/* For tables in modules */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background: #f3f3f3;
}

/* Buttons */
button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background: #1e293b;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: #334155;
}

/* Inputs & selects */
input,
select,
textarea {
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #334155;
}

